@font-face {
  font-family: 'KhmerOSwatphnom';
  src: url("../fonts/KhmerOSwatphnom.eot");
  src: local(""), url("../fonts/KhmerOSwatphnom.woff") format("woff"), url("../fonts/KhmerOSwatphnom.ttf") format("truetype"), url("../fonts/KhmerOSwatphnom.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'KhmerOSwatphnom'; }

@media screen and (min-width: 1000px) {
  .dashboard-nav, .dashboard-container, .dashboard-footer {
    padding-left: 300px; } }
h4 {
  font-size: 1.5em; }

nav {
  margin-bottom: 40px; }

.nav-wrapper .brand-logo img {
  display: block;
  margin-top: 6px; }

nav.top-nav {
  background: #2e71ae; }

.home-container .post-title {
  min-height: 60px;
  font-size: 1.3em; }

#top-side-nav {
  max-width: 200px; }

/* Dashboard */
.side-nav .profile-wrapper .img-wrapper {
  width: 60%;
  margin: auto; }

.login-container {
  max-width: 480px; }

input[type="password"] {
  font-family: arial; }

/*# sourceMappingURL=app.css.map */
